.forex-container {
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.eachItem {
  background-color: red;
  cursor: pointer;
  text-align: right;
  padding: 2px 10px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  color: white;
}

.eachItem:nth-child(1) {
  grid-column: 1 / -1;
}

.eachItem:nth-child(odd) {
  background-color: rgb(224, 31, 31);
}

.show-more {
  background-color: transparent;
  text-align: right;
  cursor: pointer;
}

svg {
  width: 20px;
  fill: white;
}
